* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    

}

body {
    font-family: Arial, Helvetica, sans-serif;
}
 
li, a, button {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #f19201;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    padding: 25px 8%;
    width: 100%;
    position: relative;
    background-color: #0a0806;
    opacity: .7;
    
}

.btn-1 {
    position: absolute;
    float: left;
    color: #f19201;
    margin-left: 90px;
    font-weight: 700;
    font-size: 25px;
}

.btn-2 {
    margin-top: -150px;
}


.initial-text {
    margin-top: -350px;
    color: white;
    margin-left: 40px;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 50px;
}

.main-content-2 > .h-image {
    margin-top: -180px;
    width: 100%;
    height: 100%;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    margin-top: -5px;
    color: white;

}
.nav-links {
    list-style: none;
}

.nav-links li {
display: inline-block;
padding: 0px 20px;
font-weight: 800;
}

.nav-links li a {
transition: all 0.2s ease 0s;
color: white;
font-size: 22px;
}

.nav-links li a:hover {
     color: #f19201;
    }
button {
    padding: 8px 23px;
    background-color: #f19201;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 60px;
    font-weight: 800;
}

}

button:hover {
    background-color:rgba,136,169,0.7;
}
.h2-article {
    color: #f19201;
    text-align: center;
    font-size: 32px;
    line-height: 3em;
}
.emphasis {
    text-align: center;
    font-size: 18px;
    line-height: 1.8em
}

.p-article1 {
    text-align: center;
    font-size: 18px;
    line-height: 1.8em;
}

.box-model {
    display: flex;
    background-color: grey;
    width: 80%;
    margin: auto; 
}
.box1 {
    flex: 1;
    background-color: white;
    padding: 20px;
    border: none;
    margin: auto;
    width: 300px;
    height: 300px;
    line-height: 1.4em;
    text-align: center;
}

.box2 {
    flex: 1;
    background-color: white;
    padding: 20px;
    border: none;
    margin: 20px;
    width: 300px;
    height: 300px;
    line-height: 1.4em;
    text-align: center;
}

.box3 {
    flex: 1;
    background-color: white;
    padding: 20px;
    border: none;
    margin: 20px;
    width: 200px;
    height: 300px;
    line-height: 1.4em;
    text-align: center;
}

.box1-a {
    background-color: #f19201;
    color: white;
    width: 70px;
    height: 70px;
    /* padding-bottom: 20px; */
    border-radius: 100%;
    margin: auto;
    border: 0 solid;
    border-style: solid;
    text-align: center;
    margin: auto;
    font-size: 25px;
    font-weight: 800;

}


.box1-b {
    background-color: #f19201;
    color: white;
    width: 70px;
    height: 70px;
    /* padding-bottom: 20px; */
    border-radius: 100%;
    margin: auto;
    border: 0 solid;
    border-style: solid;
    text-align: center;
    margin: auto;
    font-size: 25px;
    font-weight: 800;

}

.box1-c {
    background-color: #f19201;
    color: white;
    width: 70px;
    height: 70px;
    /* padding-bottom: 20px; */
    border-radius: 100%;
    margin: auto;
    border: 0 solid;
    border-style: solid;
    text-align: center;
    margin: auto;
    font-size: 25px;
    font-weight: 800;

}

.box1:nth-child(1) {
    margin-left: 20px;
}

.reviews {
    display: flex;
    justify-content: center;
    width: 100%;
}
 .image-review {
     flex: 1;
     margin-left: 4px;
 }

 .review-farm {
     flex: 1;
     align-items: center;
     justify-content: center;
     background-color: black;
     color: white;
     padding: 20px;
     border: #f19201;
     margin: 1px;
 }

.review-farm > h2 {
     text-transform: uppercase;
}

.review-farm > p {
    line-height: 1.4em;
    font-size: 19px;
}

span {
    color: #f19201;
    font-size: 30px;
    font-weight: 800;  
}
.menu {
    text-align: center;
    line-height: 5em;
}

.premium {
    position: relative;
    color: #f19201;
    font-size: 25px;
}

/* .container {
    display: flex;
    max-width: 600px;
    
}

.box-1 {
    flex: 1;
    padding: 20px;
    border: 2px solid grey;
    box-shadow: 2px 2px pink;
}
.box-2 {
    flex: 1;
    flex-direction: column;
}

.container > .box-2 {
    text-align: left;
    display: flex;
}
.box-2-a {
    flex: 1;
    background-color: #f19201;

}
.box-2-b {
    flex: 1;
    background-color: blueviolet;
} */


.main-container1{
    display: flex;
    width: 80%;
    margin: auto;

}

.main-container2 {
    display: flex;
    width: 80%;
    margin: auto;
}

.main-container2 > .container {
    margin-right: 70px;
    margin-bottom: 50px;
}

.main-container1 > .container {
    margin-right: 70px;
}

.container {
    display: flex;
    border: 4px solid rgb(194, 180, 180);
    padding: 1px;
    width: 400px;
    background-color: white;
    flex: 1;
    margin: auto;
    

}



    

}


.box-2 {
    background-color: white;
    margin: 2px;
    height: 260px;
   
}
.box-2-a {
    flex: 1;
    background-color: white;
    margin-top: 40px;
    line-height: 1.5em;

}
.box-2-b {
    flex: 1;
    background-color: pink;
    height: 130px;
}

.box-1 {
    background-color: white;
    margin: 2px;
    height: 260px;
}

footer {
    background-image: url('images/image8.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    text-align: center;
    margin-top: 50px;
    color: white;

}

footer > p {
    font-size: 30px;
}

footer > button {
    border: 3px solid white;
    color: white;
    background-color: inherit;
    margin: auto;
    width: 200px;
    margin-top: 200px;

}

.booking {
    margin-bottom: -25image80px;
}

.bk-moringa {
    margin-top: 50px;
}

.main-container {
    /* display: flex; */
    border: 5px solid blue;
    padding-top: 1px;
    margin-top: -200px;
    width: auto;
}
.main-content-1 {
    flex: 1;
    margin: auto;
    background-color: white;
    height: 300px;
    color: white;
    font-size: 30px;
    font-weight: 700;
}


.header-image-2 {
    background-image: url('images/image2.png');
    width: 100%;
    height: 500px;
}

.main-content-1 > p {
    margin-top: 40px;
    margin-left: 50px;
    margin-bottom: 30px;
}

.main-content-2 {
    background-size: cover;
}

.image4 {
    padding: 10px solid white;
    margin-top: 30px;
}

.order {
    margin: auto;
}

.footer-b {
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    height: 50px;
}

.footer-b > p {
    color: white;
    padding-bottom: 5px;
}
