* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
 
li, a, button {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #f19201;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    padding: 25px 8%;
    background-image: url('images/image2.png');
    opacity: 0.4;
}
.logo {
    cursor: pointer;
    margin-right: auto;
}
.nav-links {
    list-style: none;
}

.nav-links li {
display: inline-block;
padding: 0px 18px;
}

.nav-links li a {
transition: all 0.2s ease 0s;
}

.nav-links li a:hover {
     color: blue;
    }
button {
    padding: 8px 22px;
    background-color: #f19201;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 60px;
}

button:hover {
    background-color:rgba,136,169,0.7;
}

.header-image {
    background-image: url('images/image2.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    color: black;
    opacity: 1;
}
